:root {
    --normal-color: #4d4d4d;
    --main-color: #18808c;
    --second-color: #ecf6f8;
    --third-color: #113438;
    --forth-color: #79a2a7;
    --fifth-color: #5398a0;
    --sixth-color: #98d0d8;
    --seventh-color: #dff2f6;
    --btn-color: #50969e;
    --btn-hover-color: #69a3a8;
}

a {
    color: var(--normal-color);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--normal-color);
}

button {
    border: 0;
    background-color: transparent;
    outline: none !important;
}

input {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg img {
    display: none;
}

.flex-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    text-align: center;
    color: var(--third-color);
    font-size: 22px;
    margin-bottom: 30px;
}

/* button */
.lookall {
    width: 100px;
    height: 40px;
    background-color: var(--btn-color);
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 40px auto 0;
}

.lookall:hover {
    background-color: var(--btn-hover-color);
}

.btn-round {
    background-color: var(--btn-color);
    border-radius: 8px;
    color: #fff;
    border: 0;
    width: 120px;
    height: 40px;
}

.btn-round:hover {
    background-color: var(--btn-hover-color);
}

.btn-border-rounded {
    border-radius: 8px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    width: 120px;
    height: 40px;
}

.btn-border-rounded:hover {
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    color: #fff;
}

/* header */

header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}

header .top-header {
    height: 60px;
    line-height: 60px;
}

header .logo {
    height: 44px;
    margin-right: 10px;
}

header .search {
    display: inline-block;
    height: 35px;
    width: 300px;
}

header .search form {
    width: 100%;
    height: 100%;
    display: flex;
}

header .search input {
    width: 85%;
    height: 100%;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
}

header .search button {
    width: 15%;
    background-color: var(--btn-color);
    border-radius: 0 5px 5px 0;
}

header .search button:hover {
    background-color: var(--btn-hover-color);
}

header .search button img {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
}

header .icon {
    display: inline-block;
    float: right;
}

header .icon .icon-box {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    position: relative;
    width: 36px;
    height: 36px;
    cursor: pointer;
    margin-top: 10px;
}

header .icon .icon-box:first-child {
    margin-left: 0;
}

header .icon .icon-box:hover {
    background-color: rgb(245, 245, 245);
}

header .icon .icon-box:hover .user-content {
    display: block;
}

header .icon .icon-box img {
    width: 20px;
    display: block;
    margin: 8px auto;
}

.user-circle {
    width: 30px;
    height: 30px;
}

header .icon .icon-box .user-circle {
    margin: 3px auto;
}

header .icon .icon-box .user-content {
    position: absolute;
    display: none;
    z-index: 2;
    width: 100px;
    top: 35px;
    right: 0;
    text-align: center;
    padding-top: 10px;
}

header .icon .icon-box .user-content ul {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
}

header .icon .icon-box .user-content ul li {
    height: 45px;
}

header .icon .icon-box .user-content ul li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 45px;
}

header .icon .icon-box .user-content ul li a:hover {
    color: var(--main-color);
    background-color: var(--second-color);
}

header nav {
    height: 50px;
    display: flex;
    width: 100%;
}

header nav ul.navbar {
    width: 100%;
    /* width: 80%; */
    display: flex;
    margin: 0 auto;
}

header nav ul.navbar li.nav-menu img {
    height: 18px;
    margin-right: 5px;
}

header nav ul.navbar li.nav-menu span {
    color: var(--main-color);
}

header nav ul.navbar li.nav-menu .class-menu {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(219, 219, 219);
    display: none;
}

header nav ul.navbar li.nav-menu .class-menu ul li {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

header nav ul.navbar li.nav-menu .class-menu ul li:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}

header nav ul.navbar>li {
    width: 16.6666%;
    text-align: center;
    position: relative;
    cursor: pointer;
}

header nav ul.navbar li a {
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
}

header nav ul.navbar li a:hover {
    color: var(--main-color);
    font-weight: 700;
}

header .bottom-header .logo {
    display: none;
}

header .bottom-header .bh-icon {
    display: none;
}

header .bottom-header .icon .icon-box {
    margin-top: 0;
    margin-left: 10px;
}

header .bottom-header .icon .icon-box:first-child {
    margin-left: 0;
}

header.m-header {
    height: 60px;
    display: none;
}

header.m-header .container {
    height: 100%;
}

header#m-header .icon .icon-box {
    margin-top: 12px;
}

header.brand-lh {
    height: 60px;
}

header.brand-lh nav {
    display: inline-block;
    width: auto;
    line-height: 60px;
    width: calc(100% - 250px);
}

header.brand-lh nav ul li {
    display: inline-block;
    /* margin-right: 20px; */
    width: 12.5%;
}

header.brand-lh nav ul li a {
    display: block;
    text-align: center;
    font-size: 15px;
}

header.brand-lh nav ul li:last-child {
    margin-right: 0;
}

header.brand-lh nav ul li a:hover {
    color: var(--main-color);
    font-weight: 700;
}

header.home-header .class-header {
    display: none;
}

header.home-header .class-header img {
    /* height: 44px; */
    width: 100%;
}

header.home-header .class-header ul {
    width: 100%;
    line-height: 50px;
}

header.home-header .class-header ul li {
    width: 11.1111%;
}

header.home-header .class-header ul li a {
    display: block;
    width: 100%;
    text-align: center;
}

header.home-header .class-header ul li:hover a {
    color: var(--main-color);
    font-weight: 700;
}

/* search */
#search-box {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 60px;
    z-index: 1002;
    display: none;
}

#search-box input {
    width: 100%;
    height: 100%;
    padding: 5px 20px;
    background-color: var(--second-color);
    text-align: center;
}

#search-box input::placeholder {
    font-size: 16px;
    color: var(--forth-color);
}

#search-box input::-webkit-input-placeholder {
    font-size: 16px;
    color: var(--forth-color);
}

#search-box input::-moz-placeholder {
    font-size: 16px;
    color: var(--forth-color);
}

#search-box input::-ms-input-placeholder {
    font-size: 16px;
    color: var(--forth-color);
}

/* menu */
.menu-box {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1003;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 0.3s;
}

.menu-box .menu-header {
    height: 60px;
}

.menu-box .menu-header .logo {
    height: 44px;
    margin-top: 8px;
}

.menu-box .menu-header .back-box {
    display: inline-block;
    float: right;
    margin-top: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

.menu-box .menu-header i {
    font-size: 20px;
    color: var(--fifth-color);
}

.menu-box .menu-nav li {
    width: 100%;
}

.menu-box .menu-nav li a {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    display: block;
    color: #4d4d4d;
}

.menu-box .user-box {
    line-height: 20px;
}

.menu-box .user-box img {
    height: 22px;
    margin-right: 8px;
}

.menu-box .user-box span {
    color: #4d4d4d;
    vertical-align: middle;
}

.menu-box .user-box .user-circle {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

/* banner */
#banner {
    margin-top: 110px;
}

#banner.brand-banner {
    margin-top: 60px;
}

#banner .carousel-inner .carousel-item {
    width: 100%;
    height: 0;
    padding-bottom: 40%;
}

#banner .arrow {
    background-image: none;
    font-size: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--sixth-color);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

#banner .arrow i {
    text-align: center;
    line-height: 35px;
}

#banner .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
}

#banner .carousel-indicators li.active {
    background-color: #fff;
    border-color: #fff;
}

/* classify */
.classify .c-box {
    width: 12.5%;
    cursor: pointer;
    transition: 0.1s;
}

.classify .c-box:hover {
    transform: translateY(-5px);
}

.classify .c-box img {
    width: 50px;
    display: block;
    margin: 0 auto 8px;
}

.classify .c-box h5 {
    font-size: 16px;
    text-align: center;
}

.menu-box .classify .c-box img {
    width: 30px;
}

.menu-box .classify .c-box h5 {
    font-size: 14px;
}

/* 廣告(兩欄) */
.advertising {
    background-color: var(--second-color);
}

.advertising .container .row .ad .ad-pic {
    height: 0;
    padding-bottom: 60%;
    width: 100%;
}

/* 廣告(一欄) */
.advertising .container>.ad {
    width: 100%;
    height: 0;
    padding-bottom: 30%;
}

/* HO粉最愛 */
.favorite .c-box {
    transition: 0.1s;
}

.favorite .c-box .rounded-circle {
    background-color: var(--second-color);
    width: 70px;
    height: 70px;
    padding-top: 12.5px;
    margin: 0 auto 8px;
}

.favorite .c-box .rounded-circle img {
    height: 45px;
    display: block;
    margin: 0 auto;
}

.favorite .c-box h5 {
    text-align: center;
    font-size: 16px;
    color: var(--main-color);
}

.favorite .c-box:hover .rounded-circle {
    background-color: var(--seventh-color);
}

.favorite .c-box:hover h5 {
    font-weight: 700;
}

/* product */
.product .ad .ad-pic {
    height: 100%;
}

.product .product-box {
    position: relative;
}

.product .product-box .brand img {
    height: 30px;
    margin-right: 5px;
}

.product .product-box .brand:hover {
    opacity: 0.8;
    background-color: var(--second-color);
    color: var(--main-color);
    font-weight: 700;
    /* border-color:  #D9D9D9; */
    border-color:  var(--sixth-color);
}

.product .product-box .prod-content {
    width: 100%;
    margin-top: 30px;
}

.product .product-box .prod-content:hover .product-pic {
    opacity: 0.8;
}

.product .product-box .prod-content:hover .prod-text h5 {
    color: #5c5c5c;
}

.product .product-box .prod-content:hover .prod-text .price {
    color: #5c5c5c;
}

.product .product-box .prod-content .product-pic {
    width: 100%;
    height: 0;
    padding-bottom: 70%;
    position: relative;
    transition: 0.3s;
}

.product .product-box .prod-content .product-pic .tag {
    position: absolute;
    top: 0;
    left: 0;
}

.tag {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    background-color: var(--btn-hover-color);
    padding: 5px 10px;
    border-radius: 8px 0;
}

.product .product-box .prod-content .prod-text {
    margin-top: 8px;
}

.product .product-box .prod-content .prod-text .name {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    transition: 0.3s;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product .product-box .prod-content .prod-text .price {
    font-size: 16px;
    color: var(--third-color);
    transition: 0.3s;
}

/* video */
.video {
    background-color: var(--second-color);
}
.video .v-box {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.video .v-box iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* 品牌 */
.select {
    width: 70%;
}

.select .select-brand {
    width: 18%;
    cursor: pointer;
    padding: 20px;
    border-radius: 30px;
    transition: 0.3s;
}

.select .select-brand img {
    display: block;
    width: 60px;
    margin: 0 auto 8px;
}

.select .select-brand p {
    text-align: center;
    color: var(--main-color);
    margin-bottom: 0;
    font-weight: 700;
    opacity: 0;
}

.select .select-brand:hover {
    background-color: var(--second-color);
}

.select .select-brand:hover p {
    opacity: 1;
}

.select .select-brand.active {
    background-color: var(--second-color);
}

.select .select-brand.active p {
    opacity: 1;
}

.brand-product2, .brand-product3, .brand-product4, .brand-product5 {
    display: none;
}

/* introduce */
.introduce {
    background-color: var(--second-color);
}

.introduce .text h4 {
    font-size: 22px;
    font-weight: 700;
    color: var(--third-color);
}

.introduce .text p {
    color: #4d4d4d;
}

.introduce button {
    margin-top: 30px;
}

/* more-brand */
#more-brand {
    background-color: var(--second-color);
}

#more-brand .text {
    text-align: center;
    color: #4d4d4d;
}

.more-brand .pic {
    height: 150px;
    position: relative;
}

.more-brand img {
    position: absolute;
    width: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.more-brand {
    width: 80%;
    position: relative;
}

.more-brand .swiper-slide {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
}

.swiper-arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.swiper-arrow:hover {
    background-color: var(--sixth-color);
}

.swiper-arrow:hover i {
    color: #fff;
}

.swiper-arrow.brand-rp {
    left: 5px;
}

.swiper-arrow.brand-rn {
    right: 5px;
}

.swiper-arrow i {
    line-height: 40px;
    text-align: center;
    width: 40px;
    color: var(--btn-color);
}

/* brand-pic */
.brand-pic {
    position: relative;
}

.brand-pic h3 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--third-color);
}

/* brand-introduce */
.brand-introduce .main-data {
    display: inline-block;
    line-height: 35px;
}

.brand-introduce .main-data .brand-logo {
    width: 55px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.brand-introduce .main-data .text {
    display: inline-block;
    vertical-align: middle;
}

.brand-introduce .main-data .text h5 {
    font-size: 16px;
    color: #4d4d4d;
    margin-bottom: 3px;
    font-weight: 700;
    color: var(--third-color);
}

.brand-introduce .main-data .text p {
    font-size: 14px;
    color: #4d4d4d;
    margin: 0;
}

.brand-introduce .social {
    float: right;
    margin-top: 10px;
}

/* brand-intr */
.brand-intr {
    color: #4d4d4d;
}

.brand-intr p {
    margin-bottom: 10px;
}

/* announce */
.announce {
    padding: 25px 20px;
    background-color: var(--second-color);
    border-radius: 10px;
}

.announce h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--third-color);
    margin-top: 0;
}

.announce ul li {
    color: #4d4d4d;
    margin-top: 8px;
    font-size: 15px;
}

/* classify */
.md-classify {
    display: none;
    padding-left: 15px;
    padding-right: 15px;
}

.md-classify div {
    width: 100%;
    padding: 8px 20px;
    background-color: var(--second-color);
    border-radius: 8px;
}

.md-classify p {
    margin: 0;
    color: var(--main-color);
    width: 90%;
}

.md-classify i {
    color: var(--main-color);
    width: 10%;
    text-align: center;
}

#class-box .modal-dialog {
    margin: 5rem auto 0;
    width: 90%;
}

#class-box .modal-content {
    border-radius: 15px;
    border: 0;
}

#class-box .modal-body {
    padding: 20px 10px;
}

#class-box .modal-body ul li {
    padding: 10px 20px;
    color: #4d4d4d;
    border-radius: 8px;
}

#class-box .modal-body ul li.active {
    background-color: var(--second-color);
    color: var(--main-color);
    font-weight: 700;
}

#class-box i {
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--sixth-color);
    top: -10px;
    right: -10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.classify-choice ul li {
    font-size: 17px;
    cursor: pointer;
    width: 100%;
    padding: 13px 0 13px 20px;
    margin-bottom: 5px;
    margin-left: -20px;
}

.classify-choice ul li.active {
    color: var(--main-color);
    font-weight: 700;
    background-color: var(--second-color);
    border-radius: 50px;
}

.classify-choice ul li:hover {
    color: var(--main-color);
    font-weight: 700;
}

/* pagination */
.pagination ul li {
    display: inline-block;
    margin-right: 8px;
}

.pagination ul li:last-child {
    margin-right: 0;
}

.pagination ul li a {
    font-size: 16px;
    display: block;
    width: 35px;
    height: 35px;
    font-weight: 700;
    color: var(--third-color);
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}

.pagination ul li.active a {
    background-color: var(--btn-color);
    color: #fff;
}

.pagination ul li:hover a {
    background-color: var(--btn-color);
    color: #fff;
}

.pagination ul li.next i {
    margin-left: 2px;
}

/* product-content */
.product-content {
    margin-top: 80px;
}

.product-content .breadcrumb {
    background-color: transparent;
    padding-left: 0;
    font-size: 14px;
}

.breadcrumb-item+.breadcrumb-item:before {
    content: "";
    background-image: url(../img/next-bg.png);
    background-size: 7px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 8px;
}

.breadcrumb-item.active {
    color:var(--main-color);
    font-weight: 600;
}

/* product-detail */
#product-detail .carousel-indicators {
    position: static;
    width: 100%;
    margin: 0;
}

#product-detail .small-pic {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    margin: 0;
}

#product-detail .carousel-inner .carousel-item {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

/* product-intr */
.product-intr .p-name {
    font-size: 28px;
    color: #4d4d4d;
}

.product-intr .o-price {
    text-decoration: line-through;
    color: rgb(170, 170, 170);
}

.product-intr span {
    color: #4d4d4d;
    font-size: 15px;
}

.product-intr .b-price {
    font-size: 28px;
    color: var(--main-color);
    font-weight: 600;
    margin-left: 5px;
    margin-right: 15px;
}

.product-intr .detail {
    color: #747474;
    font-size: 15px;
    line-height: 26px;
}

.product-intr .p-num {
    display: inline-block;
    line-height: 15px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 50px;
    margin-left: 10px;
}

.product-intr .p-num i {
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    padding: 15px 17px;
    cursor: pointer;
    color: #4d4d4d;
}

.product-intr .p-num i:hover {
    color: var(--main-color);
}

.product-intr .p-num input {
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    padding: 15px 10px;
    width: 50px;
    text-align: center;
}

.product-intr button {
    color: #fff;
    background-color: var(--btn-color);
    border: 1px solid var(--btn-color);
    border-radius: 10px;
    margin-right: 5px;
}

.product-intr button.addtocart {
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--btn-color);
}

.product-intr button a {
    display: block;
    color: #fff;
    padding: 13px 30px;
}

.product-intr button:hover {
    background-color: var(--btn-hover-color);
    border-color: var(--btn-hover-color);
}

.product-intr button.addtocart:hover {
    background-color: var(--btn-hover-color);
    border-color: var(--btn-hover-color);
    color: #fff;
}

.product-intr .p-class {
    font-size: 18px;
    font-weight: 700;
    color: var(--main-color);
}

.product-intr .p-tag {
    margin-top: 10px;
}

.product-intr .p-tag li {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid var(--forth-color);
    border-radius: 30px;
}

.product-intr .p-tag li a {
    font-size: 14px;
    display: block;
    padding: 5px 15px;
    color: var(--fifth-color);
}

.product-intr .p-tag li:hover {
    background-color: #ecf5f6;
}

.p-info button {
    padding: 20px;
    font-size: 17px;
    border-radius: 15px;
}

.p-info button:hover {
    background-color: var(--second-color);
    color: var(--main-color);
    font-weight: 700;
}

.p-info button.active {
    background-color: var(--second-color);
    color: var(--main-color);
    font-weight: 700;
}

/* add-alert */
.add-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    padding: 25px 0;
    border-radius: 5px;
    background-color: var(--second-color);
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    display: none;
}

.add-alert img {
    width: 80px;
    display: block;
    margin: 0 auto;
}

.add-alert p{
    text-align: center;
    margin: 15px 0 0;
    color: var(--main-color);
}

/* footer */
footer {
    background-color: var(--second-color);
}

footer .link ul {
    display: inline-block;
}

footer .link ul li {
    display: inline-block;
    margin-right: 25px;
}

footer .link ul li a {
    color: #4d4d4d;
    font-weight: 700;
}

footer .link ul li a:hover {
    color: var(--main-color);
}

footer .link .container>.social {
    display: inline-block;
    float: right;
    margin-top: -5px;
}

.social-box {
    width: 35px;
    height: 35px;
    border: 1px solid var(--btn-color);
    margin-left: 10px;
    display: inline-block;
}

.social-box:hover {
    background-color: var(--btn-color);
    border-color: var(--btn-color);
}

footer .link ul li .social {
    display: none;
}

.social .social-box:nth-child(1) {
    margin-left: 0;
}

.social .social-box i {
    font-size: 18px;
    color: var(--btn-color);
    text-align: center;
    width: 35px;
    line-height: 35px;
    margin-left: -1px;
    margin-top: -1px;
}

.social-box:hover i {
    color: #fff;
}

footer .subscribe {
    width: 60%;
}

footer .subscribe p {
    text-align: center;
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 700;
    color: var(--third-color);
}

footer .subscribe .data-box {
    width: 100%;
}

footer .subscribe .data-box input {
    border: 1px solid var(--forth-color);
    background-color: transparent;
    border-radius: 8px;
    padding: 5px 10px;
    height: 40px;
}

footer .subscribe .data-box input:first-child {
    width: 29%;
}

footer .subscribe .data-box input:nth-child(2) {
    width: 49%;
}

footer .subscribe .data-box input:nth-child(3) {
    width: 19%;
}

footer .subscribe .data-box input::placeholder {
    color: var(--forth-color);
}

footer .subscribe .data-box input::-webkit-input-placeholder {
    color: var(--forth-color);
}

footer .subscribe .data-box input::-moz-placeholder {
    color: var(--forth-color);
}

footer .subscribe .data-box input::-ms-input-placeholder {
    color: var(--forth-color);
}

footer .subscribe .data-box input.sub {
    background-color: var(--btn-color);
    border: 0;
}

footer .subscribe .data-box input.sub:hover {
    background-color: var(--btn-hover-color);
}

footer.brand-footer ul li {
    margin-top: 10px;
}

footer.brand-footer ul li a {
    text-align: center;
    display: block;
}
footer.brand-footer .pic img {
    width: 100%;
}
footer.brand-footer .social {
    text-align: center;
}
#copy-right {
    text-align: center;
    margin: 0;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .lookall {
        margin-top: 20px;
    }
    header.l-header {
        display: none;
    }
    header.home-header {
        display: none;
    }
    header.m-header {
        display: block;
    }
    header .icon .icon-box:hover {
        background-color: transparent;
    }
    #banner {
        margin-top: 60px;
    }
    #banner .carousel-inner .carousel-item {
        padding-bottom: 60%;
    }
    #banner .carousel-indicators li {
        width: 8px;
        height: 8px;
    }
    .classify .c-box {
        width: 25%;
    }
    .advertising .container>.ad {
        padding-bottom: 50%;
    }
    .select {
        width: 100%;
    }
    .select .select-brand {
        padding: 15px 5px;
        width: 20%;
    }
    .more-brand {
        width: 100%;
    }
    .more-brand .pic {
        height: 120px;
    }
    .swiper-arrow:hover {
        background-color: #fff;
    }
    .swiper-arrow:hover i {
        color: var(--btn-color);
    }
    .product .product-box .brand img {
        display: none;
    }
    .brand-pic .pic {
        padding-bottom: 60%;
    }
    .classify-choice {
        display: none;
    }
    .md-classify {
        display: block;
    }
    .brand-pic h3 {
        max-width: 80%;
        font-size: 22px;
        padding: 10px 15px;
    }
    .product-intr {
        margin-top: 20px;
    }
    .product-intr .btn-box {
        display: flex;
        justify-content: space-between;
    }
    .product-intr button {
        margin-right: 0;
        width: 48%;
    }
    .product-intr button a {
        padding: 13px 0;
        width: 100%;
    }
    .p-info button {
        padding: 13px 0;
    font-size: 14px;
    }
    .product-intr .p-num i:hover {
        color: #4d4d4d;
    }
    footer .link ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    footer .link ul li {
        width: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
    }
    footer .link .container>.social {
        display: none;
    }
    footer .link ul li .social {
        display: block;
    }
    footer .subscribe {
        width: 80%;
    }
    footer .subscribe .data-box input:first-child {
        width: 100%;
    }
    footer .subscribe .data-box input:nth-child(2) {
        width: 100%;
        margin-top: 8px;
    }
    footer .subscribe .data-box input:nth-child(3) {
        width: 30%;
        display: block;
        margin: 20px auto 0;
    }
    footer.brand-footer .pic img {
        width: 50%;
        display: block;
        margin: 30px auto 0;
    }
    footer.brand-footer .row {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 576px) {
    .product .product-box .brand {
        position: static;
        margin-top: -15px;
    }
    .select {
        justify-content: start;
    }
    .select .select-brand {
        border-radius: 20px;
        width: 33.3333%;
    }
    .select .select-brand img {
        width: 50px;
    }
    .select .select-brand p {
        font-size: 14px;
    }
    .brand-introduce .main-data .brand-logo {
        margin-right: 5px;
    }
    .brand-pic h3 {
        width: 90%;
        bottom: 20px;
        font-size: 18px;
    }
    .more-brand img {
        width: 80px;
    }
}

@media screen and (max-width: 350px) {
    header .logo {
        height: 40px;
        margin-top: 10px;
    }
    header .icon .icon-box {
        margin-left: 5px;
        width: 30px;
        height: 30px;
    }
    header .icon .icon-box img {
        width: 18px;
    }
    .classify {
        justify-content: start;
    }
    .classify .c-box {
        width: 33.3333%;
        margin-bottom: 10px;
    }
    .classify .c-box img {
        width: 45px;
    }
    .classify .c-box h5 {
        font-size: 14px;
    }
    .favorite .c-box .rounded-circle {
        width: 60px;
        height: 60px;
        padding-top: 10px;
    }
    .favorite .c-box .rounded-circle img {
        height: 40px;
    }
    .favorite .c-box h5 {
        font-size: 14px;
    }
    .product .row>div:nth-child(odd) {
        padding-left: 16px;
        padding-right: 8px;
    }
    .product .row>div:nth-child(even) {
        padding-right: 16px;
        padding-left: 8px;
    }
    .product .product-box .prod-content .prod-text .name {
        font-size: 15px;
    }
    .product .product-box .prod-content .prod-text .price {
        font-size: 14px;
    }
    .brand-introduce .main-data .brand-logo {
        width: 45px;
        margin-right: 0;
    }
    .brand-introduce .main-data .text h5 {
        font-size: 14px;
    }
    .social-box {
        margin-left: 8px;
        width: 30px;
        height: 30px;
        display: inline-block;
    }
    .social .social-box i {
        width: 30px;
        line-height: 30px;
    }
    .pagination ul li a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .brand-pic h3 {
        font-size: 15px;
        bottom: 10px;
        width: 90%;
    }
}

@media screen and (min-width: 769px) {
    header.l-header {
        display: none;
    }
    header.home-header {
        display: none;
    }
    header.m-header {
        display: block;
    }
    header .icon .icon-box:hover {
        background-color: transparent;
    }
    #banner {
        margin-top: 60px;
    }
    .classify .c-box img {
        width: 45px;
    }
    .classify .c-box h5 {
        font-size: 15px;
    }
    .select {
        width: 100%;
    }
    .more-brand {
        width: 100%;
    }
    .classify-choice {
        display: none;
    }
    .md-classify {
        display: block;
    }
    .product-intr .p-num i:hover {
        color: #4d4d4d;
    }
    footer.brand-footer .pic img {
        width: 30%;
        display: block;
        margin: 30px auto 0;
    }
}

@media screen and (min-width: 992px) {
    header.brand-lh .container {
        max-width: 1000px;
    }
}

@media screen and (min-width: 1024px) {
    header.l-header {
        display: block;
    }
    header.home-header {
        display: block;
    }
    header.m-header {
        display: none;
    }
    header .icon .icon-box:hover {
        background-color: rgb(245, 245, 245);
    }
    #banner {
        margin-top: 110px;
    }
    .classify .c-box img {
        width: 50px;
    }
    .classify .c-box h5 {
        font-size: 16px;
    }
    .select {
        width: 70%;
    }
    .more-brand {
        width: 80%;
    }
    .classify-choice {
        display: block;
    }
    .md-classify {
        display: none;
    }
    .product-intr .p-num i:hover {
        color: var(--main-color);
    }
    footer.brand-footer .pic img {
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    header.brand-lh .container {
        max-width: 1140px;
    }
}